.App {
  text-align: center;
}

.App-header {
  background-color:grey;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contact-page {
  position: relative;
}

.contact_count { 
  display: flex;
  align-items: flex-start;  
  height: 20px;
  background-color: #efefef; 
  color:black;
}

.contact_text {
  font-weight: bold;
  font-size: 15px;
}

.grid {
  padding: 10px 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid_item {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 32%;
  background-color: #efefef;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  color: white;
  border: 1px solid #0277bd;
  height: 40px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.dialogue_comp{
  width: 30%;  
}

.leftBlock {
  position: absolute;
  overflow: auto;
  right: 70%;
  left: 0;
  top: 0; 
  background: lightgray;
  height: 100%;
}

.rightBlock { 
  position: absolute;
  overflow: auto;
  left: 30%;
  right: 0;
  top: 0;  
  background: lightgray;
  height: 100%;
}

.ucard__avatar__img {
  margin-top: 5px;
  width: 120px;
  height: 120px;
  position: relative; 
  border-radius: 50%;  
}

.p-dialog-content {
  height: 250px !important;
}

.address_book {
  width: 250px;
  float: left; 
}

.address_form {
  margin-left: 30px;
}

.address_h2 {
  display: block;
  float: left;
}

.address_span {
  display: block;
  font-size: 10px;
  float: left;
}